USE [master]
GO
/****** Object:  Database [PharmacyDB]    Script Date: 2/6/2026 8:15:07 PM ******/
CREATE DATABASE [PharmacyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PharmacyDB', FILENAME = N'C:\Users\DINAR\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\PharmacyDB_Primary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PharmacyDB_log', FILENAME = N'C:\Users\DINAR\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\PharmacyDB_Primary.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PharmacyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PharmacyDB]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 2/6/2026 8:15:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[BatchNumber] [nvarchar](50) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[Stock] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesDetails]    Script Date: 2/6/2026 8:15:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesMasterId] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
	[MedicineName] [nvarchar](100) NULL,
	[BatchNumber] [nvarchar](50) NULL,
	[ExpiryDate] [date] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[LineTotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesMaster]    Script Date: 2/6/2026 8:15:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](20) NOT NULL,
	[Date] [datetime] NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[Contact] [nvarchar](50) NULL,
	[SubTotal] [decimal](10, 2) NULL,
	[Discount] [decimal](10, 2) NULL,
	[GrandTotal] [decimal](10, 2) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/6/2026 8:15:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([Id], [Name], [BatchNumber], [ExpiryDate], [Stock], [UnitPrice], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'Fexo 20 mg', N'Batch-001', CAST(N'2026-03-06' AS Date), 190, CAST(2.50 AS Decimal(10, 2)), 1, CAST(N'2026-02-06T20:11:15.493' AS DateTime), 1, CAST(N'2026-02-06T20:12:31.610' AS DateTime))
INSERT [dbo].[Medicines] ([Id], [Name], [BatchNumber], [ExpiryDate], [Stock], [UnitPrice], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'Rolac 50 mg', N'Batch-001', CAST(N'2026-05-29' AS Date), 100, CAST(5.00 AS Decimal(10, 2)), 1, CAST(N'2026-02-06T20:11:59.110' AS DateTime), NULL, NULL)
INSERT [dbo].[Medicines] ([Id], [Name], [BatchNumber], [ExpiryDate], [Stock], [UnitPrice], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'Napa 500 mg', N'Batch-001', CAST(N'2026-05-30' AS Date), 390, CAST(1.50 AS Decimal(10, 2)), 1, CAST(N'2026-02-06T20:12:29.107' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesDetails] ON 

INSERT [dbo].[SalesDetails] ([Id], [SalesMasterId], [MedicineId], [MedicineName], [BatchNumber], [ExpiryDate], [Quantity], [UnitPrice], [LineTotal]) VALUES (2, 1, 3, N'Napa 500 mg', N'Batch-001', CAST(N'2026-05-28' AS Date), 10, CAST(1.50 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)))
INSERT [dbo].[SalesDetails] ([Id], [SalesMasterId], [MedicineId], [MedicineName], [BatchNumber], [ExpiryDate], [Quantity], [UnitPrice], [LineTotal]) VALUES (3, 1, 1, N'
                        Fexo 20 mg
                      ', N'Batch-001', CAST(N'2026-03-05' AS Date), 10, CAST(2.50 AS Decimal(10, 2)), CAST(25.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SalesDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesMaster] ON 

INSERT [dbo].[SalesMaster] ([Id], [InvoiceNumber], [Date], [CustomerName], [Contact], [SubTotal], [Discount], [GrandTotal], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'INV-0001', CAST(N'2026-02-06T00:00:00.000' AS DateTime), N'Shahed', N'01999987788', CAST(40.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(38.00 AS Decimal(10, 2)), 1, CAST(N'2026-02-06T20:13:07.593' AS DateTime), 1, CAST(N'2026-02-06T20:13:27.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[SalesMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [FullName]) VALUES (1, N'admin', N'$2a$11$.xOvIzwSpJGoosN7pVcfCOlEnySdHQyYUl/17/z5pZeg24ZFP56DO', N'System Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Medicines] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SalesMaster] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SalesDetails]  WITH CHECK ADD FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
GO
ALTER TABLE [dbo].[SalesDetails]  WITH CHECK ADD FOREIGN KEY([SalesMasterId])
REFERENCES [dbo].[SalesMaster] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[GetInvoiceById]    Script Date: 2/6/2026 8:15:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetInvoiceById]
   @InvoiceId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        InvoiceNumber,
        [Date],
        CustomerName,
        Contact,
        SubTotal,
        Discount,
        GrandTotal
    FROM SalesMaster
    WHERE Id = @InvoiceId;

    SELECT 
        d.Id,
        d.SalesMasterId,
        d.MedicineId,
        d.MedicineName,
        d.BatchNumber,
        d.ExpiryDate,
        d.Quantity,
        d.UnitPrice,
        d.LineTotal
    FROM SalesDetails d
    WHERE d.SalesMasterId = @InvoiceId
    ORDER BY d.Id;
END
GO
/****** Object:  StoredProcedure [dbo].[GetMedicinesWithPagination]    Script Date: 2/6/2026 8:15:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMedicinesWithPagination]
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @SearchKeyword NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TotalCount INT;

    SELECT 
        @TotalCount = COUNT(*)
    FROM Medicines
    WHERE
        (@SearchKeyword IS NULL
         OR Name LIKE '%' + @SearchKeyword + '%'
         OR BatchNumber LIKE '%' + @SearchKeyword + '%');

    SELECT
        m.*,
        @TotalCount AS TotalCount
    FROM Medicines m
    WHERE
        (@SearchKeyword IS NULL
         OR Name LIKE '%' + @SearchKeyword + '%'
         OR BatchNumber LIKE '%' + @SearchKeyword + '%')
         
    ORDER BY m.Id desc
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[GetSalesWithPagination]    Script Date: 2/6/2026 8:15:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSalesWithPagination]
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @SearchKeyword NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @TotalCount INT;
    SELECT @TotalCount = COUNT(*) 
    FROM SalesMaster
    WHERE (@SearchKeyword IS NULL 
           OR CustomerName LIKE '%' + @SearchKeyword + '%' 
           OR InvoiceNumber LIKE '%' + @SearchKeyword + '%' 
           OR Contact LIKE '%' + @SearchKeyword + '%');

    SELECT  
        sm.*,
        @TotalCount AS TotalCount
    FROM SalesMaster sm
    WHERE (@SearchKeyword IS NULL 
           OR CustomerName LIKE '%' + @SearchKeyword + '%' 
           OR InvoiceNumber LIKE '%' + @SearchKeyword + '%' 
           OR Contact LIKE '%' + @SearchKeyword + '%')
    ORDER BY sm.Id DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
USE [master]
GO
